<div class="row">
  <div class="col-md-3">
    <%= render 'matchmenu' %>
  </div>
  <div class="col-md-9">
    <div class="row scores">
        <table class="table">
          <thead>
          <tr>
            <th><%= @match.hometeam.name %></th>
            <th><%= @match.homeScore %>-<%= @match.awayScore %></th>
            <th><%= @match.awayteam.name %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="home">
              <ul>
                <% @match.homegoals.each do |g| %>
                  <li class="goal">
                    <span class="minute">
                      <%= g.minute %>'<%= '+'+g.plus_extra_time.to_s unless g.plus_extra_time == nil %>
                    </span>
                    <span class="player">
                      <%= g.player.name %>
                    </span>
                    <% if g.is_own_goal %>
                      <span>(e.d.)</span>
                    <% end %>
                    <% if g.is_penalty %>
                      <span>(p.)</span>
                    <% end %>
                    <span class="remove">
                      <%= link_to 'Destroy', admin_score_path(g), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </span>
                  </li>
                <% end %>
              </ul>
              <a href="<%= new_admin_score_path(match_id: @match.id, team_id: @match.hometeam.id) %>" class="addgoal btn btn-primary btn-sm">Doelpunt toevoegen</a>
              <div class="goalform well well-sm" style="display: none;"></div>
            </td>
            <td>&nbsp;</td>
            <td class="away">
               <ul>
                <% @match.awaygoals.each do |g| %>
                  <li class="goal">
                    <span class="minute">
                      <%= g.minute %>'<%= '+'+g.plus_extra_time.to_s unless g.plus_extra_time == nil %>
                    </span>
                    <span class="player">
                      <%= g.player.name %>
                    </span>
                    <% if g.is_own_goal %>
                      <span>(e.d.)</span>
                    <% end %>
                    <% if g.is_penalty %>
                      <span>(p.)</span>
                    <% end %>
                    <span class="remove">
                      <%= link_to 'Destroy', admin_score_path(g), method: :delete, data: { confirm: 'Are you sure?' } %>
                    </span>
                  </li>
                <% end %>
              </ul>
              <a href="<%= new_admin_score_path(match_id: @match.id, team_id: @match.awayteam.id) %>" class="addgoal btn btn-primary btn-sm">Doelpunt toevoegen</a>
              <div class="goalform well well-sm" style="display: none;"></div>
            </td>
          </tr>
        </tbody>
        </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $('.addgoal').on('click', function(e) {
      var self = $(this);
      var url = $(self).attr('href');

      $.get(url, function(response) {
        $(self).siblings('.goalform').show().html(response);
      });
      e.preventDefault();
    });
    $('table td').on('click', 'form a.cancel', function(e) {
      e.preventDefault();
      $(this).parents('.well.well-sm').empty().hide();
    });
  });

</script>
