<%= form_for([:admin, @coach], :html => {:class => "form-horizontal"}) do |f| %>
  <% if @coach.errors.any? %>
  <div class="alert alert-warning">
    <div id="error_explanation">
      <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
      <% @coach.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>  
  <div class="form-group">
    <div class="col-sm-4">
      <%= f.label :firstName %>
      <%= f.text_field :firstName, :class => 'form-control' %>
    </div>
    <div class="col-sm-4">
      <%= f.label :lastName %>
      <%= f.text_field :lastName, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-8">
      <%= f.label :country_id %>
      <%= f.collection_select :country_id, Country.all, :id, :dutchName, {}, :class => 'form-control' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
